* text eol=lf
*.png -text
*.jpg -text
*.jpeg -text
*.jar -text
*.exe -text
*.dll -text
*.pdf -text
*.zip -text
*.tar -text
*.gz -text
*.mp3 -text
*.mp4 -text
*.mov -text
*.wmv -text
*.flv -text
*.avi -text
*.mkv -text
*.ico -text
*.gif -text
