name: CI Minecraft
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci-minecraft.yml
      - modpack/**
  workflow_dispatch:
    inputs:
      test-client:
        description: 'Run client tests'
        type: boolean
        default: true
      test-server:
        description: 'Run server tests'
        type: boolean
        default: false

concurrency:
  group: ci-minecraft-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  minecraft-ci:
    name: Minecraft CI
    uses: touchtheduck/.github/.github/workflows/reusable-minecraft-ci.yml@main
    with:
      java-version: '21'
      java-distribution: 'microsoft'
      minecraft-version: '1.21.1'
      modloader: 'neoforge'
      modpack-directory: 'modpack'
      test-client: ${{ github.event_name == 'workflow_dispatch' && inputs.test-client || true }}
      test-server: ${{ github.event_name == 'workflow_dispatch' && inputs.test-server || false }} # This job takes a long time (1h+), disable server tests to save time
