name: PR Triage
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  Labeler:
    name: Label PR
    runs-on: ubuntu-latest
    steps:
      - name: Label Pull Request
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
