name: Publish
run-name: Publish ${{ inputs.package }}

on:
  workflow_dispatch:
    inputs:
      package:
        description: The package to publish
        required: true
        type: choice
        options:
          - forgeworks
          - minigames
      skip-automatic-bump:
        description: Whether to skip the automatic bumping of the package version
        required: false
        default: false
        type: boolean

jobs:
  PublishPackage:
    name: Publish ${{ inputs.package }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Create App Token
        uses: actions/create-github-app-token@v2
        id: create-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          token: ${{ steps.create-token.outputs.token }}
      - name: Install Dependencies
        uses: ./.github/actions/install-yarn-dependencies
        with:
          node-version: 22
      - name: Configure Git
        run: |
          git config --local user.email "${GITHUB_EMAIL}"
          git config --local user.name "${GITHUB_USER}"
        env:
          GITHUB_USER: jaronz-ci[bot]
          GITHUB_EMAIL: 227836284+jaronz-ci[bot]@users.noreply.github.com
      - name: Build
        run: yarn build
      - name: Bump Versions and make release
        working-directory: packages/${{ inputs.package }}
        run: |
          if [ "${{ inputs.skip-automatic-bump }}" = "true" ]; then
            yarn bump --skip-automatic-bump
          else
            yarn bump
          fi
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
